@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gloria+Hallelujah&family=Shadows+Into+Light&family=Tourney:wght@100&display=swap');

.main-wrapper {
  display: flex;
  min-height: 100vh;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  position: relative;
  color: white;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: rgb(38, 34, 54);
  color: white;
}

.fiya {
  position: absolute;
  width: 400px;
  top: 20vh;
  left: 50vw;
  right: 50vw;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.story-btn,
.songs-btn {
  font-family: 'Gloria Hallelujah', cursive;
  border: 2px solid white;
  padding: 20px;
  font-size: 2.75em;
}

.story-btn:hover,
.songs-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.192);
  transition: 200ms;
}

@media screen and (max-width: 1000px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
  }

  .fiya {
    width: 250px;
    top: 32vh;
  }
}
