@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gloria+Hallelujah&family=Shadows+Into+Light&family=Tourney:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&family=Open+Sans&display=swap');

.main-wrapper {
  display: flex;
  min-height: 100vh;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  position: relative;
  color: white;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: rgb(38, 34, 54);
  color: white;
}

.fiya {
  position: absolute;
  width: 400px;
  top: 20vh;
  left: 50vw;
  right: 50vw;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.story-btn,
.songs-btn {
  font-family: 'Gloria Hallelujah', cursive;
  border: 2px solid white;
  padding: 20px;
  font-size: 2.75em;
}

.story-btn:hover,
.songs-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.192);
  transition: 200ms;
}

/* .story-input {
  height: 200px;
  width: 500px;
} */

.story-card {
  position: relative;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(38, 34, 54);
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 1.5rem auto;
  border: 2px solid white;
  /* max-height: 50vh; */
}

.story-card p {
  padding: 1rem;
  margin: 0 auto;
  font-family: Georgia, Helvetica, sans-serif;
}

.story-card h1,
h2 {
  padding: 0;
  margin: 0;
}

.song-card p {
  margin: 1rem auto;
  font-family: Georgia, Helvetica, sans-serif;
}

.song-card h1,
h2 {
  padding: 0;
  margin: 0;
}

.song-card {
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(32, 32, 32);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 2px solid white;
}

.title {
  width: 600px;
  margin: 0 auto;
  font-family: 'Nosifer', cursive;
  text-align: center;
  font-size: 1.5em;
}

.details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment-input-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.comment-input {
  width: 70%;
  height: 100px;
}

.delete-btn {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1000px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
  }

  .fiya {
    width: 250px;
    top: 32vh;
  }
}

.all-songs {
  background-color: rgb(38, 34, 54);
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.all-stories {
  background-color: rgb(32, 32, 32);
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.all-stories button {
  border-radius: 0;
  background-color: transparent;
  padding: 0.5rem;
  color: white;
  border: 2px solid white;
  font-family: 'Gloria Hallelujah', cursive;
}

.all-songs button {
  border-radius: 0;
  background-color: transparent;
  padding: 0.5rem;
  color: white;
  border: 2px solid white;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 1rem;
}

.story-card img {
  width: 100%;
}

.comment-card {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(32, 32, 32);
  border: solid 1px white;
  width: 90%;
  height: 75px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* .song-card h1,
h2,
p {
  padding: 0rem 1rem;
}

.story-card h1,
h2,
p {
  padding: 0rem 1rem;
} */

form {
  justify-items: center;
  margin-top: 0.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
  font-family: Georgia, sans-serif;
}

form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: 1px solid lightgray;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  font-family: Georgia, sans-serif;
}

form textarea {
  width: 100%;
  margin: 0.5em 0;
  height: 80%;
  font-family: Georgia, sans-serif;
  border: 1px solid lightgray;
}

.modal h1 {
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
  color: rgb(38, 34, 54);
}

form button {
  padding: 0.5rem 1rem;
  background-color: rgb(38, 34, 54);
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  border: transparent;
}
